force-app/main/default/flows/Opportunity_Follow_Up_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Other Stage</defaultConnectorLabel>
        <rules>
            <name>Is_Contacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Contacted</stringValue></rightValue>
            </conditions>
            <connector><targetReference>Create_Contacted_Task</targetReference></connector>
            <label>Is Contacted</label>
        </rules>
        <rules>
            <name>Is_Test_Drive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Test Drive</stringValue></rightValue>
            </conditions>
            <connector><targetReference>Create_TestDrive_Task</targetReference></connector>
            <label>Is Test Drive</label>
        </rules>
    </decisions>
    <recordCreates>
        <name>Create_Contacted_Task</name>
        <label>Create Contacted Task</label>
        <locationX>50</locationX>
        <locationY>370</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value><stringValue>Follow up with customer</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value><elementReference>$Record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value><elementReference>TomorrowDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value><elementReference>$Record.OwnerId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Not Started</stringValue></value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_TestDrive_Task</name>
        <label>Create Test Drive Task</label>
        <locationX>300</locationX>
        <locationY>370</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value><stringValue>Confirm test drive appointment</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value><elementReference>$Record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value><elementReference>TodayDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value><elementReference>$Record.OwnerId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Not Started</stringValue></value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <formulas>
        <name>TomorrowDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity Follow Up Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Follow Up Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector><targetReference>Check_Stage</targetReference></connector>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
